---
layout: content.njk
title: Principles of Miracles
reference: T-1.I
eleventyNavigation:
  key: T-1.I
  title: T-1.I Principles of Miracles
  parent: T-1
  order: 1
prev: T-in
next: T-1.II
---

<p id=p1>1. There is no order of difficulty in miracles. 
²One is not “harder” or “bigger” than another. 
³They are all the same. 
⁴All expressions of love are maximal.
</p>

<details><summary>Expanded</summary></summary>
There is no order of difficulty in miracles. 
²One [miracle] is not “harder” or “bigger” than another. 
³They [miracles] are all the same. 
⁴All expressions of love are maximal.
</details>

<details><summary>Substitued</summary>
There is no order of difficulty in miracles. 
²One miracle is not “harder” or “bigger” than another. 
³Miracles are all the same. 
⁴All expressions of love are maximal.
</details>

<details><summary>Simplified</summary></summary>
Miracles are all the same to do. Love always expresses as much as it can.
</details>

{% if showCommentary %}
<details>
  <summary>Commentary</summary>  
  <p>
(1) In the vision of Heaven, there can be no gradations of illusions or mistakes. Something either is or it is not. … Truth is true; all else is only a mistake which, when brought to truth, is gently corrected, not judged against and punished. (Wapnick, F.A.J., p. 186).  
</p>

<p>
(1) [It’s] a simple plan for salvation that has no exceptions, [miracles] are all the same because there is likewise no hierarchy in illusions (Wapnick, L.D.N.C., p. 562)  
</p>

<p>
(1) The first principle of miracles … counteracts the ego’s first law of chaos “there is a hierarchy of illusions” (<a href="/text/23-the-war-against-yourself/ii-the-laws-of-chaos#p2">T-23.II.2:3</a>. (Wapnick, A.A.C., p. 58.)  
</p>

<p>
The very first principle of miracles that begins the text proper contains the whole thought system of the Course. In that sense the rest of the text is a commentary on this first principle which is the cornerstone of the teaching. (Wapnick, FCTL, p.15.)  
</p>

</details>
{% endif %}


<p id=p2>
2. Miracles as such do not matter. 
²The only thing that matters is their Source, which is far beyond evaluation.
</p>

<details><summary>Expanded</summary>
Miracles as such do not matter. 
²The only thing that matters is their [miracles’] Source; which [miracles’ Source] is far beyond evaluation.
</details>

<details><summary>Substituted</summary>
Miracles as such do not matter. 
²The only thing that matters is miracles’ Source; the Source of miracles is far beyond evaluation.
</details>

<details><summary>Simplified</summary>
The Source of a miracle matters more than the miracle. 
The Source of miracles cannot be evaluated.
</details>


<p id=p3>
3. Miracles occur naturally as expressions of love. 
²The real miracle is the love that inspires them. 
³In this sense everything that comes from love is a miracle.
</p>

<details><summary>Expanded</summary>
Miracles occur naturally as expressions of love. 
²The real miracle is the love that inspires them [miracles]. 
³In this sense everything that comes from love is a miracle.
</details>

<details><summary>Substituted</summary>
Miracles occur naturally as expressions of love. 
²The real miracle is the love that inspires miracles. 
³In this sense everything that comes from love is a miracle.
</details>

<details><summary>Simplified</summary>
Miracles are natural expressions of love. 
Love inspires miracles. 
Everything that comes from love is a miracle.
</details>


<p id=p4>
4. All miracles mean life, and God is the Giver of life. 
²His Voice will direct you very specifically. 
³You will be told all you need to know.
</p>

<details><summary>Expanded</summary>
All miracles mean life, and God is the Giver of life. 
²His [God’s] Voice will direct you very specifically. 
³You will be told all you need to know.
</details>

<details><summary>Substituted</summary>
All miracles mean life, and God is the Giver of life. 
²God’s Voice will direct you very specifically. 
³You will be told all you need to know.
</details>

<details><summary>Simplified</summary>
Life is a miracle. 
God gives life. 
God’s voice will tell you all you need to know.
</details>


<p id=p5>
5. Miracles are habits, and should be involuntary. 
²They should not be under conscious control. 
³Consciously selected miracles can be misguided.
</p>

<details><summary>Expanded</summary>
Miracles are habits, and should be involuntary. 
²They [miracles] should not be under conscious control. 
³Consciously selected miracles can be misguided.
</details>

<details><summary>Substituted</summary>
Miracles are habits, and should be involuntary. 
²Miracles should not be under conscious control. 
³Consciously selected miracles can be misguided.
</details>

<details><summary>Simplified</summary>
Let miracles become a habit. 
Do not choose what miracle to do. 
Choices may be misguided.
</details>

{% if showCommentary %}
<details><summary>Commentary</summary>
  Miracle Principles <a href=#p5>5</a>, <a href=#p8>8</a> and <a href=#p10">10</a> seem to imply that miracles are something we do in the world of bodies. 
  This is not the case. 
  The miracle takes place in the mind only. 
  The miracle shifts the focus of attention from the body and world to the “decision-maker” in the mind where the power of belief is. 
  The mind’s belief in sin (separation from God), guilt (over the selfishness of separation) and fear (of punishment and loss) leads to the mind making a body and world onto which it projects the sin, guilt and fear. 
  All power is of the mind, not the body and world. 
  All healing is of the mind, not the body. (Wingate)<br>
  (note, “decision-maker” is a “Wapnickism” not actually found in the course —Ed.)
</details>


{% endif %}


<p id=p6>
6. Miracles are natural. 
²When they do not occur something has gone wrong.
</p>

<details><summary>Expanded</summary>
Miracles are natural. 
²When they [miracles] do not occur something has gone wrong.
</details>

<details><summary>Substituted</summary>
Miracles are natural. 
²When miracles do not occur something has gone wrong.
</details>

<details><summary>Simplified</summary>
Miracles happen naturally.
</details>

{% if showCommentary %}
<details><summary>Commentary</summary> 
<p>
  … the world of separation [is] made real, along with the seemingly infinite range of problems to be solved. Hence, the first principle of miracles — there is no order of difficulty among them — seems impossible and beyond our attainment. It is the purpose of <em>A Course in Miracles</em> to teach us that it is not only possible, but perfectly natural (Wapnick, A.V.I., p.51.)
</p>

<p>
  This statement reflects the very practical nature of the Course. It is not teaching us simply the intellectual concept that time is an illusion; it is teaching us to recognize that all of our problems are the same. (Wapnick, A.V.I., p.51.)
</p>
</details> 
{% endif %}


<p id=p7>
7. Miracles are everyone’s right, but purification is necessary first.
</p>


<p id=p8>
8. Miracles are healing because they supply a lack; they are performed by those who temporarily have more for those who temporarily have less.
</p>

<details><summary>Expanded</summary>
Miracles are healing because they [miracles] supply a lack; they [miracles] are performed by those who temporarily have more for those who temporarily have less.
</details>

<details><summary>Substituted</summary>
Miracles are healing because miracles supply a lack; miracles are performed by those who temporarily have more for those who temporarily have less.
</details>

<details><summary>Simplified</summary>
Miracles supply a lack. 
Miracles are healing. 
Miracles come from those who have more. 
Miracles go to those who have less.
</details>


<p id=p9>
9. Miracles are a kind of exchange. 
²Like all expressions of love, which are always miraculous in the true sense, the exchange reverses the physical laws. 
³They bring more love both to the giver and the receiver.
</p>

<details><summary>Expanded</summary>
Miracles are a kind of exchange. 
²Like all expressions of love, which [expressions of love] are always miraculous in the true sense, the exchange [of miracles] reverses the physical laws. 
³They [miracles] bring more love both to the giver and the receiver.
</details>

<details><summary>Substituted</summary>
Miracles are a kind of exchange. 
²Like all expressions of love — expressions of love are always miraculous in the true sense — the exchange of miracles reverses the physical laws. 
³Miracles bring more love both to the giver and the receiver.
</details>

<details><summary>Simplified</summary>
Giving love ends up with more love for the giver. 
Increasing by giving is the true miracle. 
Most giving in the world results in less for the giver.
</details>


<p id=p10>
10. The use of miracles as spectacles to induce belief is a misunderstanding of their purpose.
</p>

<details><summary>Expanded</summary>
The use of miracles as spectacles to induce belief is a misunderstanding of their [miracles’] purpose.
</details>

<details><summary>Substituted</summary>
The use of miracles as spectacles to induce belief is a misunderstanding of miracles’ purpose.
</details>

<details><summary>Simplified</summary>
It is not the purpose of Miracles to induce belief.
</details>

{% if showCommentary %}
<details><summary>Commentary</summary>
<p>
  …they must first <em>decide</em> to accept God’s word. Demanding an external sign as proof of God is really believing in magic, since we must instead choose the miracle that reflects our internal shift. … Thus Jesus taught elsewhere, “Why does this generation demand a sign? I tell you solemnly, no sign shall be given to this generation” (<em>Mark</em> 8:12). No sign will be given because it would not be the loving or helpful thing to do, reinforcing, as it where, the belief in magic which ultimately reinforces the belief in separation. (Wapnick, F.A.J., p. 236–237.)
</p>

<p>
  We could say the main purpose of the Course is for us to realize the power of our mind; not the power to manifest miracles in the world, but to realize the power of the mind to believe in the dream. 
  All power that appears to be in the world’s dream was given by the mind of the dreamer (the Son of God). 
  All power over the dream world is in the mind of the dreamer.<br>
  There is no power of evil in the world. 
  The power is in the mind that believes in evil, separation, sin, guilt and fear. 
  We must realize that sin, guilt and fear are in the mind (the cause), and not in the body and world (the effect). (Wingate)</p>
</details>
{% endif %}


<p id=p11>
  11. Prayer is the medium of miracles. 
  ²It is a means of communication of the created with the Creator. 
  ³Through prayer love is received, and through miracles love is expressed.
</p>

<details><summary>Expanded</summary>
Prayer is the medium of miracles. 
²It [prayer] is a means of communication of the created with the Creator. 
³Through prayer love is received, and through miracles love is expressed.
</details>

<details><summary>Substituted</summary>
Prayer is the medium of miracles. 
²Prayer is a means of communication of the created with the Creator. 
³Through prayer love is received, and through miracles love is expressed.
</details>

<details><summary>Simplified</summary>
Communication with God is through prayer. 
Love is received from prayer. 
Love is expressed by miracles.
</details>


<p id=p12>
  12. Miracles are thoughts. 
  ²Thoughts can represent the lower or bodily level of experience, or the higher or spiritual level of experience. 
  ³One makes the physical, and the other creates the spiritual.
</p>

<details><summary>Expanded</summary>
Miracles are thoughts. 
²Thoughts can represent the lower or bodily level of experience, or the higher or spiritual level of experience. 
³One [the lower level of experience] makes the physical, and the other [spiritual level of experience] creates the spiritual.
</details>

<details><summary>Substituted</summary>
Miracles are thoughts. 
²Thoughts can represent the lower or bodily level of experience, or the higher or spiritual level of experience. 
³The lower level of experience makes the physical, and the the higher level of experience creates the spiritual.
</details>

<details><summary>Simplified</summary>
Miracles are thoughts. 
Thoughts can represent a bodily level of experience and make the physical. 
Thoughts can represent a spiritual level of experience and make the spiritual.
</details>

{% if showCommentary %}
<details><summary>Commentary</summary>
<p>
  Jesus clearly delineates the mutually exclusive nature of the levels of the mind and the body, and cautions his students against confusing them. Such confusion… is what is responsible for sickness. And it is the miracle that heals by redirecting the Son’s attention to the proper level — the mind instead of the body — wherein is found both the problem and the answer. Here are the relevant level-confusion passages (also principles <a href="#p17">17</a>, <a href="#p23">23</a>, <a href="#p30">30</a> that highlights the dimension of the miracle or healing (the mind) and sickness (the body) (Wapnick, A.A.C., p.230–231)
</p>

<p>
  Wrong-minded thoughts “make” the physical body and world. 
  Right-minded thoughts “create” the spiritual. 
  The term “create” refers to God — God creates. 
  The term “make” refers to the ego — the ego “makes” the dream world and body. (Wingate)
</p>
</details> 
{% endif %}


<p id=p13>
  13. Miracles are both beginnings and endings, and so they alter the temporal order. 
  ²They are always affirmations of rebirth, which seem to go back but really go forward. 
  ³They undo the past in the present, and thus release the future.
</p>

<details><summary>Expanded</summary>
Miracles are both beginnings and endings, and so they [miracles] alter the temporal order. 
²They [miracles] are always affirmations of rebirth, which [affirmations] seem to go back but really go forward. 
³They [miracles] undo the past in the present, and thus release the future.
</details>

<details><summary>Substituted</summary>
Miracles are both beginnings and endings, and so miracles alter the temporal order. 
²Miracles are always affirmations of rebirth; affirmations seem to go back but really go forward. 
³Miracles undo the past in the present, and thus release the future.
</details>

<details><summary>Simplified</summary>
Miracles change time by changing beginnings and endings. 
Miracles allow rebirth. 
A rebirth does not change the past. 
A rebirth brings past and future into the present.
</details>

{% if showCommentary %}
<details><summary>Commentary</summary>
…the miracle reflects the change of mind that enables us to let go of our guilt, the belief in our past sinfulness. This then frees the Holy Spirit to work through us in the sense that we are now allowing the extension of His Love to occur. In the words of <a href="/workbook/part-1/194-i-place-the-future-in-the-hands-of-god">Lesson 194</a>: “I place the future in the hands of God”. This is not possible as long as we hold on to the ego’s guilt. It <em>is</em> possible, of course, when we let go of the guilt, and that is what releases the future. The “beginnings and endings” that is referred to can be understood as the beginning and the ending of a relationship. The “beginning” would be the special relationship that the ego has made real, while the “ending” is the forgiveness of that relationship — making it holy. (Wapnick, A.V.I., p. 123.)
</details>
{% endif %}


<p id=p14>
  14. Miracles bear witness to truth. 
  ²They are convincing because they arise from conviction. 
  ³Without conviction they deteriorate into magic, which is mindless and therefore destructive; or rather, the uncreative use of mind.
</p>

<details><summary>Expanded</summary>
Miracles bear witness to truth. 
²They [miracles] are convincing because they [miracles] arise from conviction. 
³Without conviction they [miracles] deteriorate into magic, which [magic] is mindless and therefore destructive; or rather, the uncreative use of mind.
</details>

<details><summary>Substituted</summary>
Miracles bear witness to truth. 
²Miracles are convincing because miracles arise from conviction. 
³Without conviction miracles deteriorate into magic; magic is mindless and therefore destructive; or rather, the uncreative use of mind.
</details>

<details><summary>Simplified</summary>
Miracles are a convincing witness to truth. 
Without conviction miracles are only magic. 
Magic is mindless. 
Magic is uncreative use of mind.
</details>

{% if showCommentary %}
<details><summary>Commentary</summary>
  Miracles reflect the Truth. 
  Truth is of God. 
  Miracles are illusions that reflect the truth. 
  “Magic” is the attempt to solve problems in the world and body rather than in the mind. (Wingate)
</details>
{% endif %}


<p id=p15>
  15. Each day should be devoted to miracles. 
  ²The purpose of time is to enable you to learn how to use time constructively. 
  ³It is thus a teaching device and a means to an end. 
  ⁴Time will cease when it is no longer useful in facilitating learning.
</p>

<details><summary>Expanded</summary>
Each day should be devoted to miracles. 
²The purpose of time is to enable you to learn how to use time constructively. 
³It [time] is thus a teaching device and a means to an end. 
⁴Time will cease when it [time] is no longer useful in facilitating learning.
</details>

<details><summary>Substituted</summary>
Each day should be devoted to miracles. 
²The purpose of time is to enable you to learn how to use time constructively. 
³Time is thus a teaching device and a means to an end. 
⁴Time will cease when time is no longer useful in facilitating learning.
</details>

<details><summary>Simplified</summary>
Each day should be devoted to miracles. 
Use time to teach and learn miracles. 
Time will end when learning ends.
</details>

{% if showCommentary %}
<details><summary>Commentary</summary>
<p>
  (2–4) …the course urges us to look at the world benevolently: since we believe we are here, the world can be seen as kind, offering us itself as a classroom in which we learn the lessons that will lead us beyond the world entirely … These lines echo the spirit of Origen, for whom the world was also a classroom. (Wapnick, L.D.N.C. p. 575–6.)
</p>

<p>
  The point here is that the ego made time as a way of trapping us, reinforcing our belief that separation and guilt are real, and so our fear of punishment is justified. The Holy Spirit, though, uses time in His own way within the illusion, so that He teaches us something else. (Wapnick, A.V.I., p. 123–124.)
</p>

<p>
  Time is used by the Holy Spirit as a “teaching device” not because it is real, but because it is a means whereby we can learn. When we have learned our lessons time will disappear. As time was not made by God, it is not eternal, lasting only as long as the dream that gave rise to it is accorded reality. (Wapnick, A.V.I., p. 125.)
</p>
</details>
{% endif %}


<p id=p16>
  16. Miracles are teaching devices for demonstrating it is as blessed to give as to receive. 
  ²They simultaneously increase the strength of the giver and supply strength to the receiver.
</p>

<details><summary>Expanded</summary>
Miracles are teaching devices for demonstrating it is as blessed to give as to receive. 
²They [miracles] simultaneously increase the strength of the giver and supply strength to the receiver.
</details>

<details><summary>Substituted</summary>
Miracles are teaching devices for demonstrating it is as blessed to give as to receive. 
²Miracles simultaneously increase the strength of the giver and supply strength to the receiver.
</details>

<details><summary>Simplified</summary>
Miracles increase the strength of the giver. 
Miracles give strength to the receiver.
</details>

{% if showCommentary %}
<details><summary>Commentary</summary>
(1) What we give <em>is</em> what we receive; what we ask for <em>is</em> our return. … As the beatitude says: “Happy the merciful, they shall have mercy shown them” (<em>Matthew</em> 5:7). (Wapnick, F.A.J., p. 176.)
</details>
{% endif %}


<p id=p17>
  17. Miracles transcend the body. 
  ²They are sudden shifts into invisibility, away from the bodily level. 
  ³That is why they heal.
</p>

<details><summary>Expanded</summary>
Miracles transcend the body. 
²They [miracles] are sudden shifts into invisibility, away from the bodily level. 
³That is why they [miracles] heal.
</details>

<details><summary>Substituted</summary>
Miracles transcend the body. 
²Miracles are sudden shifts into invisibility, away from the bodily level. 
³That is why miracles heal.
</details>

<details><summary>Simplified</summary>
Miracles transcend the body. 
Miracles shift to the invisible.
</details>

{% if showCommentary %}
<details><summary>Commentary</summary>
<p>
c/f <a href="#p12">principle 12</a> (Wapnick, A.A.C., p.230, 231).
</p>

<p>
The “shift” is of focus from the body to the mind. 
“Invisibility” refers to the Son of God in the mind as the decision maker. 
The miracle is a shift in focus from the visible to the invisible. (Wingate)
</p>
</details>
{% endif %}



<p id=p18>
  18. A miracle is a service. 
  ²It is the maximal service you can render to another. 
  ³It is a way of loving your neighbor as yourself. 
  ⁴You recognize your own and your neighbor’s worth simultaneously.
</p>

<details><summary>Expanded</summary>
A miracle is a service. 
²It [a miracle] is the maximal service you can render to another. 
³It [a miracle] is a way of loving your neighbor as yourself. 
⁴You recognize your own [worth] and your neighbor’s worth simultaneously.
</details>

<details><summary>Substituted</summary>
A miracle is a service. 
²A miracle is the maximal service you can render to another. 
³A miracle is a way of loving your neighbor as yourself. 
⁴You recognize your worth and your neighbor’s worth simultaneously.
</details>

<details><summary>Simplified</summary>
A miracle is the most service you can do for another. 
Love your neighbor as yourself. 
recognize your worth and your neighbor’s worth.
</details>


<p id=p19>
  19. Miracles make minds one in God. 
  ²They depend on cooperation because the Sonship is the sum of all that God created. 
  ³Miracles therefore reflect the laws of eternity, not of time.
</p>

<details><summary>Expanded</summary>
Miracles make minds one in God. 
²They [miracles] depend on cooperation because the Sonship is the sum of all that God created. 
³Miracles therefore reflect the laws of eternity, not [the laws] of time.
</details>

<details><summary>Substituted</summary>
Miracles make minds one in God. 
²Miracles depend on cooperation because the Sonship is the sum of all that God created. 
³Miracles therefore reflect the laws of eternity, not the laws of time.
</details>

<details><summary>Simplified</summary>
Minds cooperate by miracles. 
The Sonship is the all the minds God created joined as one.
</details>


<p id=p20>
  20. Miracles reawaken the awareness that the spirit, not the body, is the altar of truth. 
  ²This is the recognition that leads to the healing power of the miracle.
</p>

<details><summary>Expanded</summary>
Miracles reawaken the awareness that the spirit, not the body, is the altar of truth. 
²This [awareness that the spirit is the altar of truth] is the recognition that leads to the healing power of the miracle.
</details>

<details><summary>Substituted</summary>
Miracles reawaken the awareness that the spirit, not the body, is the altar of truth. 
²Awareness that the spirit is the altar of truth is the recognition that leads to the healing power of the miracle.
</details>

<details><summary>Simplified</summary>
The body is not the altar of truth. 
Miracles heal by making you aware that the spirit is the altar of truth.
</details>

{% if showCommentary %}
<details><summary>Commentary</summary>
It is only when we choose the miracle, and can say and truly believe that “I am under no law’s but God’s” (<a href="/workbook/part-1/76-i-am-under-no-laws-but-gods">W-pI.76</a>) that the effects of the ego’s laws disappear. (Wapnick, F.A.J., p.77.)
</details>
{% endif %}


<p id=p21>
  21. Miracles are natural signs of forgiveness. 
  ²Through miracles you accept God’s forgiveness by extending it to others.
</p>

<details><summary>Expanded</summary>
Miracles are natural signs of forgiveness. 
²Through miracles you accept God’s forgiveness by extending it [God’s-forgiveness] to others.
</details>

<details><summary>Substituted</summary>
Miracles are natural signs of forgiveness. 
²Through miracles you accept God’s forgiveness by extending God’s-forgiveness to others.
</details>

<details><summary>Simplified</summary>
Miracles allow you to accept God’s forgiveness by extending God’s forgiveness to others.
</details>


<p id=p22>
  22. Miracles are associated with fear only because of the belief that darkness can hide. 
  ²You believe that what your physical eyes cannot see does not exist. 
  ³This leads to a denial of spiritual sight.
</p>

<details><summary>Expanded</summary>
Miracles are associated with fear only because of the belief that darkness can hide. 
²You believe that what your physical eyes cannot see does not exist. 
³This [believing what your eyes cannot see does not exist] leads to a denial of spiritual sight.
</details>

<details><summary>Substituted</summary>
Miracles are associated with fear only because of the belief that darkness can hide. 
²You believe that what your physical eyes cannot see does not exist. 
³Believing that what your eyes cannot see does not exist leads to a denial of spiritual sight.
</details>

<details><summary>Simplified</summary>
Believing darkness can hide is a denial of spiritual sight and brings fear.
</details>


<p id=p23>
23. Miracles rearrange perception and place all levels in true perspective. 
²This is healing because sickness comes from confusing the levels.
</p>

<details><summary>Expanded</summary>
Miracles rearrange perception and place all levels in true perspective. 
²This [placing all levels in true perspective] is healing because sickness comes from confusing the levels.
</details>

<details><summary>Substituted</summary>
Miracles rearrange perception and place all levels in true perspective. 
²Placing all levels in true perspective is healing because sickness comes from confusing the levels.
</details>

<details><summary>Simplified</summary>
Sickness comes from confusing levels. 
Miracles rearrange perception. 
Miracles place all levels in true perspective.
</details>

{% if showCommentary %}
<details>

<summary>Commentary</summary>

<p>c/f <a href="#p12">principle 12</a> (Wapnick, A.A.C., p.230, 231)</p>

<p>“Levels” refer to the level of mind as the cause, and the level of body and world as the effect. 
Problems must be addressed at the cause (the mind) to get real results. 
Working at the level of effect (the body and world) treats only the symptom, but does not resolve the real cause. (Wingate)
</p>

</details>
{% endif %}


<p id=p24>
  24. Miracles enable you to heal the sick and raise the dead because you made sickness and death yourself, and can therefore abolish both. 
  ²<em>You</em> are a miracle, capable of creating in the likeness of your Creator. 
  ³Everything else is your own nightmare, and does not exist. 
  ⁴Only the creations of light are real.
</p>

<details><summary>Expanded</summary>
Miracles enable you to heal the sick and raise the dead because you made sickness and death yourself, and can therefore abolish both [sickness and death]. 
²<em>You</em> are a miracle, capable of creating in the likeness of your Creator. 
³Everything else [not in the likeness of your Creator] is your own nightmare, and does not exist. 
⁴Only the creations of light are real.
</details>

<details><summary>Substituted</summary>
Miracles enable you to heal the sick and raise the dead because you made sickness and death yourself, and can therefore abolish sickness and death. 
²<em>You</em> are a miracle, capable of creating in the likeness of your Creator. 
³Everything not in the likeness of your Creator is your own nightmare, and does not exist. 
⁴Only the creations of light are real.
</details>

<details><summary>Simplified</summary>
You can abolish sickness and death because you made sickness and death. 
You can create as God creates. 
Your miscreations are a nightmare that does not exist.
</details>


<p id=p25>
  25. Miracles are part of an interlocking chain of forgiveness which, when completed, is the Atonement. 
  ²Atonement works all the time and in all the dimensions of time.
</p>

<details><summary>Expanded</summary>
Miracles are part of an interlocking chain of forgiveness, which [chain of forgiveness], when completed, is the Atonement. 
²Atonement works all the time and in all the dimensions of time.
</details>

<details><summary>Substituted</summary>
Miracles are part of an interlocking chain of forgiveness; an interlocking chain of forgiveness when completed is the Atonement. 
²Atonement works all the time and in all the dimensions of time.
</details>

<details><summary>Simplified</summary>
Miracles are part of an interlocking chain of forgiveness. 
The completed chain of forgiveness is the Atonement.
</details>


<p id=p26>
  26. Miracles represent freedom from fear. 
  ²“Atoning” means “undoing”. 
  ³The undoing of fear is an essential part of the Atonement value of miracles.
</p>

<details><summary>Expanded</summary>
Miracles represent freedom from fear. 
²“Atoning” means “undoing”. 
³The undoing of fear is an essential part of the Atonement value of miracles.
</details>

<details><summary>Substituted</summary>
Miracles represent freedom from fear. 
²“Atoning” means “undoing”. 
³The undoing of fear is an essential part of the Atonement value of miracles.
</details>

<details><summary>Simplified</summary>
Miracles undo fear. 
Undoing fear is the Atonement.
</details>


<p id=p27>
  27. A miracle is a universal blessing from God through me to all my brothers. 
  ²It is the privilege of the forgiven to forgive.
</p>

<details><summary>Expanded</summary>
A miracle is a universal blessing from God through me to all my brothers. 
²It is the privilege of the forgiven to forgive.
</details>

<details><summary>Substituted</summary>
A miracle is a universal blessing from God through me to all my brothers. 
²It is the privilege of the forgiven to forgive.
</details>

<details><summary>Simplified</summary>
A miracle is a blessing from God through Jesus to all. 
The forgiven have the privilege to forgive.
</details>


<p id=p28>
  28. Miracles are a way of earning release from fear. 
  ²Revelation induces a state in which fear has already been abolished. 
  ³Miracles are thus a means and revelation is an end.
</p>

<details><summary>Expanded</summary>
Miracles are a way of earning release from fear. 
²Revelation induces a state; in [revelation-induced-state] fear has already been abolished. 
³Miracles are thus a means and revelation is an end.
</details>

<details><summary>Substituted</summary>
Miracles are a way of earning release from fear. ²Revelation induces a state; in revelation-induced-state, fear has already been abolished. 
³Miracles are thus a means and revelation is an end.
</details>

<details><summary>Simplified</summary>
Revelation comes through release from fear.
</details>


<p id=p29>
  29. Miracles praise God through you. 
  ²They praise Him by honoring His creations, affirming their perfection. 
  ³They heal because they deny body-identification and affirm spirit-identification.
</p>

<details><summary>Expanded</summary>
Miracles praise God through you. 
²They [miracles] praise Him [God] by honoring His [God’s] creations, affirming their [God’s-creations’] perfection. 
³They [miracles] heal because they [miracles] deny body-identification and affirm spirit-identification.
</details>

<details><summary>Substituted</summary>
Miracles praise God through you. 
²Miracles praise God by honoring God’s creations, affirming God’s-creations’ perfection. 
³Miracles heal because miracles deny body-identification and affirm spirit-identification.
</details>

<details><summary>Simplified</summary>
Miracles honor your perfection. 
Miracles praise God. 
Miracles deny identification with the body.
Miracles affirm identification with the spirit. 
Miracles heal.
</details>
 

<p id=p30>
30. By recognizing spirit, miracles adjust the levels of perception and show them in proper alignment. 
²This places spirit at the center, where it can communicate directly.
</p>

<details><summary>Expanded</summary>
By recognizing spirit, miracles adjust the levels of perception and show them [the levels of perception] in proper alignment. 
²This [proper alignment of levels of perception] places spirit at the center, where it [spirit] can communicate directly.
</details>

<details><summary>Substituted</summary>
By recognizing spirit, miracles adjust the levels of perception and show the levels of perception in proper alignment. 
²Proper alignment of levels of perception places spirit at the center, where spirit can communicate directly.
</details>

<details><summary>Simplified</summary>
Miracles place spirit at the center of perception. 
Spirit communicates directly from the center.
</details>

{% if showCommentary %}
<details>
  <summary>Commentary</summary> 
<p>
  c/f <a href="#p12">principle 12</a> (Wapnick, A.A.C., p.230, 231.)
</p>

<p>
  The term “body” includes the physical and psychological body. 
  The ego revels in attempting to “fix” problems at the body–psyche level because the body–psyche is a mindless smokescreen and distraction from the real problem and solution which is at the level of the mind — the decision maker or Son of God. (Wingate)
</p>
</details>
{% endif %}
 

<p id=p31>
  31. Miracles should inspire gratitude, not awe. 
  ²You should thank God for what you really are. 
  ³The children of God are holy and the miracle honors their holiness, which can be hidden but never lost.
</p>

<details><summary>Expanded</summary>
Miracles should inspire gratitude, not awe. 
²You should thank God for what you really are. 
³The children of God are holy and the miracle honors their [the-children-of-God’s] holiness, which can be hidden but never lost.
</details>

<details><summary>Substituted</summary>
Miracles should inspire gratitude, not awe. 
²You should thank God for what you really are. 
³The children of God are holy and the miracle honors the-children-of-God’s holiness, which can be hidden but never lost.
</details>

<details><summary>Simplified</summary>
You are holy. 
You can never lose your holiness. 
Give thanks to God for your holiness.
</details>


<p id=p32>
  32. I inspire all miracles, which are really intercessions. 
  ²They intercede for your holiness and make your perceptions holy. 
  ³By placing you beyond the physical laws they raise you into the sphere of celestial order. 
  ⁴In this order you <em>are</em> perfect.
</p>

<details><summary>Expanded</summary>
I inspire all miracles, which [miracles] are really intercessions. 
²They [miracles] intercede for your holiness and [miracles] make your perceptions holy. 
³By placing you beyond the physical laws they [miracles] raise you into the sphere of celestial order. 
⁴In this [the celestial] order you <em>are</em> perfect.
</details>

<details><summary>Substituted</summary>
I inspire all miracles; miracles are really intercessions. 
²Miracles intercede for your holiness and miracles make your perceptions holy. 
³By placing you beyond the physical laws miracles raise you into the sphere of celestial order. 
⁴In the celestial order you <em>are</em> perfect.
</details>

<details><summary>Simplified</summary>
I inspire miracles. 
Miracles make your perceptions holy. 
Miracles make you realize your holiness and your perfection.
</details>


<p id=p33>
  33. Miracles honor you because you are loveable. 
  ²They dispel illusions about yourself and perceive the light in you. 
  ³They thus atone for your errors by freeing you from your nightmares. 
  ⁴By releasing your mind from the imprisonment of your illusions, they restore your sanity.
</p>

<details><summary>Expanded</summary>
Miracles honor you because you are loveable. 
²They [miracles] dispel illusions about yourself and perceive the light in you. 
³They [miracles] thus atone for your errors by freeing you from your nightmares. 
⁴By releasing your mind from the imprisonment of your illusions, they [miracles] restore your sanity.
</details>

<details><summary>Substituted</summary>
Miracles honor you because you are loveable. 
²Miracles dispel illusions about yourself and perceive the light in you. 
³Miracles thus atone for your errors by freeing you from your nightmares. 
⁴By releasing your mind from the imprisonment of your illusions, miracles restore your sanity.
</details>

<details><summary>Simplified</summary>
Illusions imprison you in nightmares. 
Illusions are errors. 
Miracles free you from illusions.
</details>


<p id=p34>
  34. Miracles restore the mind to its fullness. 
  ²By atoning for lack they establish perfect protection. 
  ³The spirit’s strength leaves no room for intrusions.
</p>

<details><summary>Expanded</summary>
Miracles restore the mind to its [the mind’s] fullness. 
²By atoning for lack they [miracles] establish perfect protection. 
³The spirit’s strength leaves no room for intrusions.
</details>

<details><summary>Substituted</summary>
Miracles restore the mind to the mind’s fullness. 
²By atoning for lack miracles establish perfect protection. 
³The spirit’s strength leaves no room for intrusions.
</details>

<details><summary>Simplified</summary>
Miracles restore the mind to fullness. 
Miracles protect you from the intrusion of lack.
</details>


<p id=p35>
  35. Miracles are expressions of love, but they may not always have observable effects.
</p>

<details><summary>Expanded</summary>
Miracles are expressions of love, but they [miracles] may not always have observable effects.
</details>

<details><summary>Substituted</summary>
Miracles are expressions of love, but miracles may not always have observable effects.
</details>

<details><summary>Simplified</summary>
Miracles always express love even if you can’t see the effects.
</details>
 


<p id=p36>
  36. Miracles are examples of right thinking, aligning your perceptions with truth as God created it.
</p>

<details><summary>Expanded</summary>
Miracles are examples of right thinking, aligning your perceptions with truth as God created it [truth].
</details>

<details><summary>Substituted</summary>
Miracles are examples of right thinking, aligning your perceptions with truth as God created truth.
</details>

<details><summary>Simplified</summary>
Miracles align your thinking with God’s truth.
</details>

 
<p id=p37>
  37. A miracle is a correction introduced into false thinking by me. 
  ²It acts as a catalyst, breaking up erroneous perception and reorganizing it properly. 
  ³This places you under the Atonement principle, where perception is healed. 
  ⁴Until this has occurred, knowledge of the Divine Order is impossible.
</p>

<details><summary>Expanded</summary>
A miracle is a correction introduced into false thinking by me. 
²It [a miracle] acts as a catalyst, breaking up erroneous perception and reorganizing it [perception] properly. 
³This [reorganizing perception] places you under the Atonement principle, where perception is healed. 
⁴Until this [being placed under the Atonement principle] has occurred, knowledge of the Divine Order is impossible.
</details>

<details><summary>Substituted</summary>
A miracle is a correction introduced into false thinking by me. 
²A miracle acts as a catalyst, breaking up erroneous perception and reorganizing perception properly. 
³Reorganizing perception places you under the Atonement principle, where perception is healed. 
⁴Until being placed under the Atonement principle has occurred, knowledge of the Divine Order is impossible.
</details>

<details><summary>Simplified</summary>
A miracle corrects false thinking and heals perception.
A miracle allows you to to know the Divine Order.
</details>

{% if showCommentary %}

<details>
  <summary>Commentary</summary>
  There is no order of difficulty in miracles. 
  The belief in separation from God is the only problem. 
  And the only solution is the Atonement — the realization that separation from God never happened. 
  There is one problem and one solution. <br>
  It is important to understand why we focus on problems in the body and world rather than in the mind. 
  When we believe we have separated from God we experience sin, guilt and fear in the mind that we find so unbearable we attempt to “get rid” of it by projecting it out and making the body and world. 
  We then believe that our problems are indeed “out there” in the body and world rather than “in here” in our own mind. (Wingate)
</details>


{% endif %}


<p id=p38>
  38. The Holy Spirit is the mechanism of miracles. 
  ²He recognizes both God’s creations and your illusions. 
  ³He separates the true from the false by His ability to perceive totally rather than selectively.
</p>

<details><summary>Expanded</summary>
The Holy Spirit is the mechanism of miracles. 
²He [Holy Spirit] recognizes both God’s creations and your illusions. 
³He [Holy Spirit] separates the true from the false by His [the Holy Spirit’s] ability to perceive totally rather than selectively.
</details>

<details><summary>Substituted</summary>
The Holy Spirit is the mechanism of miracles. 
²Holy Spirit recognizes both God’s creations and your illusions. 
³Holy Spirit separates the true from the false by the Holy Spirit’s ability to perceive totally rather than selectively.
</details>

<details><summary>Simplified</summary>
The Holy Spirit makes miracles. 
The Holy Spirit can see God’s true creations. 
The Holy Spirit also sees your false illusions.
</details>


<p id=p39>
39. The miracle dissolves error because the Holy Spirit identifies error as false or unreal. 
²This is the same as saying that by perceiving light, darkness automatically disappears.
</p>

<details><summary>Expanded</summary>
The miracle dissolves error because the Holy Spirit identifies error as false or unreal. 
²This [dissolving error by identifying error as false] is the same as saying that by perceiving light, darkness automatically disappears.
</details>

<details><summary>Substituted</summary>
The miracle dissolves error because the Holy Spirit identifies error as false or unreal. 
²Dissolving error by identifying error as false is the same as saying that by perceiving light, darkness automatically disappears.
</details>

<details><summary>Simplified</summary>
As light dispels darkness, a miracles dispels error.
</details>


<p id=p40>
40. The miracle acknowledges everyone as your brother and mine. 
²It is a way of perceiving the universal mark of God.
</p>

<details><summary>Expanded</summary>
The miracle acknowledges everyone as your brother and mine. 
²It [the miracle] is a way of perceiving the universal mark of God.
</details>

<details><summary>Substituted</summary>
The miracle acknowledges everyone as your brother and mine. 
²The miracle is a way of perceiving the universal mark of God.
</details>

<details><summary>Simplified</summary>
The miracles shows us the mark of God in everyone.
</details>
 

<p id=p41>
41. Wholeness is the perceptual content of miracles. 
²They thus correct, or atone for, the faulty perception of lack.
</p>

<details><summary>Expanded</summary>
Wholeness is the perceptual content of miracles. 
²They [miracles] thus correct, or atone for, the faulty perception of lack.
</details>

<details><summary>Substituted</summary>
Wholeness is the perceptual content of miracles. 
²Miracles thus correct, or atone for, the faulty perception of lack.
</details>

<details><summary>Simplified</summary>
Faulty perception sees lack. 
Miracles bring wholeness.
</details>


<p id=p42>
42. A major contribution of miracles is their strength in releasing you from your false sense of isolation, deprivation and lack.
</p>

<details><summary>Expanded</summary>
A major contribution of miracles is their [miracles’] strength in releasing you from your false sense of isolation, deprivation and lack.
</details>

<details><summary>Substituted</summary>
A major contribution of miracles is miracles’ strength in releasing you from your false sense of isolation, deprivation and lack.
</details>

<details><summary>Simplified</summary>
Miracles bring release from isolation, deprivation and lack.
</details>


<p id=p43>
43. Miracles arise from a miraculous state of mind, or a state of miracle-readiness.
</p>

<details><summary>Simplified</summary>
Miracles arise from the mind’s state of miracle-readiness.
</details>


<p id=p44>
44. The miracle is an expression of an inner awareness of Christ and the acceptance of His Atonement.
</p>

<details><summary>Expanded</summary>
The miracle is an expression of an inner awareness of Christ and the acceptance of His [Christ’s] Atonement.
</details>

<details><summary>Substituted</summary>
The miracle is an expression of an inner awareness of Christ and the acceptance of Christ’s Atonement.
</details>

<details><summary>Simplified</summary>
A miracle comes from awareness of Christ and acceptance of Christ’s Atonement.
</details>


<p id=p45>
45. A miracle is never lost. 
²It may touch many people you have not even met, and produce undreamed of changes in situations of which you are not even aware.
</p>

<details><summary>Expanded</summary>
A miracle is never lost. 
²It [a miracle] may touch many people you have not even met, and produce undreamed of changes in situations of which you are not even aware.
</details>

<details><summary>Substituted</summary>
A miracle is never lost. 
²A miracle may touch many people you have not even met, and produce undreamed of changes in situations of which you are not even aware.
</details>

<details><summary>Simplified</summary>
A miracle can touch anyone. A miracle can produce unknown changes. A miracle is never lost.
</details>
 

<p id=p46>
46. The Holy Spirit is the highest communication medium. 
²Miracles do not involve this type of communication, because they are temporary communication devices. 
³When you return to your original form of communication with God by direct revelation, the need for miracles is over.
</p>

<details><summary>Expanded</summary>
The Holy Spirit is the highest communication medium. 
²Miracles do not involve this type [the highest level] of communication, because they [miracles] are temporary communication devices. 
³When you return to your original form of communication with God by direct revelation, the need for miracles is over.
</details>

<details><summary>Substituted</summary>
The Holy Spirit is the highest communication medium. 
²Miracles do not involve the highest level of communication, because miracles are temporary communication devices. 
³When you return to your original form of communication with God by direct revelation, the need for miracles is over.
</details>

<details><summary>Simplified</summary>
Miracles involve communication from Holy Spirit (high level) to you (low level). 
Miracles restore the original communication with God. 
The original communication with God is direct revelation.
</details>
 

<p id=p47>
47. The miracle is a learning device that lessens the need for time. 
²It establishes an out-of-pattern time interval not under the usual laws of time. 
³In this sense it is timeless.
</p>

<details><summary>Expanded</summary>
The miracle is a learning device that lessens the need for time. 
²It [the miracle] establishes an out-of-pattern time interval not under the usual laws of time. 
³In this sense [not being under the laws of time] it [the miracle] is timeless.
</details>

<details><summary>Substituted</summary>
The miracle is a learning device that lessens the need for time. 
²The miracle establishes an out-of-pattern time interval not under the usual laws of time. 
³Not being under the laws of time, the miracle is timeless.
</details>

<details><summary>Simplified</summary>
The miracle is a learning device. The miracle is timeless so it lessens time.
</details>

{% if showCommentary %}
<details><summary>Commentary</summary>
Because the Holy Spirit’s purpose for time is to undo guilt, by His having us undo guilt more quickly, our need for time lessens (Wapnick, A.V.I., p.126.)
</details>
{% endif %}
 

<p id=p48>
48. The miracle is the only device at your immediate disposal for controlling time. 
²Only revelation transcends it, having nothing to do with time at all.
</p>

<details><summary>Expanded</summary>
The miracle is the only device at your immediate disposal for controlling time. 
²Only revelation transcends it [time], having nothing to do with time at all.
</details>

<details><summary>Substituted</summary>
The miracle is the only device at your immediate disposal for controlling time. 
²Only revelation transcends time, having nothing to do with time at all.
</details>

<details><summary>Simplified</summary>
You can control time with miracles, but revelation transcends time.
</details>

{% if showCommentary %}
<details><summary>Commentary</summary>
…revelation entails a sudden shift to One-mindedness, being a direct communication from God to us, transcending time entirely. The miracle entails a shift from wrong- to right-mindedness; thus it saves us time but does not abolish it. The miracle <em>corrects</em> our mistakes; revelation transcends them. (Wapnick, A.V.I., p.125.)
</details> 
{% endif %}
 

<p id=p49>
49. The miracle makes no distinction among degrees of misperception. 
²It is a device for perception correction, effective quite apart from either the degree or the direction of the error. 
³This is its true indiscriminateness.
</p>

<details><summary>Expanded</summary>
The miracle makes no distinction among degrees of misperception. 
²It [the miracle] is a device for perception correction, effective quite apart from either the degree or the direction of the error. 
³This is its [the-miracle’s] true indiscriminateness.
</details>

<details><summary>Substituted</summary>
The miracle makes no distinction among degrees of misperception. 
²The miracle is a device for perception correction, effective quite apart from either the degree or the direction of the error. 
³This is the-miracle’s true indiscriminateness.
</details>

<details><summary>Simplified</summary>
Miracles correct misperceptions. 
Miracles do not discriminate between degrees or direction of error.
</details>
 

<p id=p50>
50. The miracle compares what you have made with creation, accepting what is in accord with it as true, and rejecting what is out of accord as false.
</p>

<details><summary>Expanded</summary>
The miracle compares what you have made with creation, accepting what is in accord with it [creation] as true, and rejecting what is out of accord [with creation] as false.
</details>

<details><summary>Substituted</summary>
The miracle compares what you have made with creation, accepting what is in accord with creation as true, and rejecting what is out of accord with creation as false.
</details>

<details><summary>Simplified</summary>
Miracles compare what you make with creation. 
Miracles accept what is in accord with creation.
</details>

